@model DataAccessLayer.Models.BrokerBuyer

@{
    ViewData["Title"] = "Broker";
}

<style>

    td > input {
        opacity: 0;
    }
    td > input:hover {
        opacity: 1;
    }
</style>
<div class="row container">
    <div class="col-md-12">
        <table class="table table-light table-striped table-hover">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">BuyerId</th>
                    <th scope="col">select Insurer</th>
                    <th scope="col">Asset</th>
                    <th scope="col">Tenure(Yrs.)</th>
                    <th scope="col">Country</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.AllAssetOfVessel)
                 {
                    @if (item.RequestStatus == 11)
                     {
                <tr>
                    <form asp-action="Broker">
                        <input type="hidden" asp-for="BrokerId" class="form-control" value="@item.UserId" />
                    <td>@item.UserId</td>
                    <input type="hidden" asp-for="UserId" class="form-control" value="@item.UserId" />
                    <input type="hidden" asp-for="AssetId" class="form-control" value="@item.AssetId" />
                    <td>
                        <select asp-for="InsurerId" asp-items="@ViewBag.AllInsurer" class="form-control"></select>
                    </td>
                    @foreach (var asset in ViewBag.AllAsset)
                     {
                        @if (asset.AssetId == @item.AssetId)
                         {
                            <td>@asset.Name</td>
                            break;
                         }
                     }
                    <td>@item.InsuranceTenure</td>
                    @foreach (var asset in ViewBag.AllCountry)
                    {
                        @if (asset.CountryId == @item.CountryId)
                        {
                            <td>@asset.CountryName</td>
                            break;
                        }
                    }
                    <input type="hidden" asp-for="PolicyStatus" class="form-control" />
                    <div class="form-group">
                    <td><input style="float:right" class="btn btn-success" type="submit" value="Send to Insurer" /></td>
</div>
                        </form>
                     </tr>
                     }
                 }
                </tbody>
         </table>
    </div>
</div>