@model DataAccessLayer.Models.BuyerAssetVessel
@using System.Web
@{
    ViewData["Title"] = "BuyerPageAfterLogin";
}
<style>
    td > a {
        opacity: 0;
    }

        td > a:hover {
            opacity: 1;
        }
</style>
<h4>Add assets for insurance</h4>
<div class="row">
    <div class="col-12">
        <form asp-action="BuyerPageAfterLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control" />
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <select asp-for="AssetId" asp-items="ViewBag.Assets" class="form-control"></select>
                            <span asp-validation-for="AssetId" class="text-danger"></span>
                        </td>
                        <td>
                            <select asp-for="CountryId" asp-items="ViewBag.Countries" class="form-control"></select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </td>
                        <td>
                            <input type="number" asp-for="InsuranceTenure" class="form-control" placeholder="Insurance Tenure">
                            <span asp-validation-for="InsuranceTenure" class="text-danger"></span>
                        </td>
                        <td>
                            <select asp-for="RequestStatus" asp-items="ViewBag.Requests" class="form-control"></select>
                            <span asp-validation-for="RequestStatus" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div style="display:flex;justify-content:center"  class="row">
    @foreach (var assets in ViewBag.AllAssetOfVessel)
     {
        @if (assets.RequestStatus == 11)
         {
            <div class="col-md-4 col-lg-4 col-sm-6 mt-1 mb-1">
                <div style="color:white" class="card bg-info">
                    @foreach (var elements in ViewBag.AllAsset)
                    {
                        @if (elements.AssetId == @assets.AssetId)
                        {
                            <div class="card-header pl-2 text-capitalize h5">@elements.Name<br></div>
                            ViewBag.type = @elements.Type;
                        }
                    }
                <div class="card-body">
                    <div class="card-title text-monospace">Belongs from @ViewBag.type section</div>
                    @if (assets.InsuranceTenure > 1)
                    {
                        <p class="card-text text-monospace">ask of insurance for @assets.InsuranceTenure years.</p>
                    }
                    else
                    {
                        <p class="card-text text-monospace">ask of insurance for @assets.InsuranceTenure years.</p>
                    }
                    @foreach (var el in ViewBag.AllCountry)
                    {
                        @if (el.CountryId == @assets.CountryId)
                        {
                            <p class="text-monospace">Origin for insurance is @el.CountryName</p>
                        }
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="RemoveFromBuyerInsList" asp-route-UID="@assets.UserId" asp-route-AID="@assets.AssetId" class="btn btn-danger"><i class="fa fa-fw fa-close"></i></a>
                    <span style="float:right;font-size:150%">
                        <a class="btn btn-success"><i class="fa fa-fw fa-plus"></i></a>
                    </span>
                </div>
                </div>
            </div>
         }
     }
</div>



