@model IEnumerable<DataAccessLayer.Models.BrokerBuyer>

@{
    ViewData["Title"] = "Insurer";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrokerId)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.AllAssetOfBuyerBroker) {
        <tr>
            <td>
                @item.UserId
            </td>
            <td>
                @item.AssetId
            </td>
            <td>
                @item.BrokerId
            </td>
           
        </tr>
}
    </tbody>
</table>
